@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "Roboto2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sink {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  background-color: #fff;
}

.navbar-content {
  display:flex;
}

.navbar-icon img {
  height: 2.5rem;
}

.navbar-title {
  align-items: center;
  color: #1690c6;
  display: flex;
  flex-grow: 1;
}

.withNavbar {
  min-height: 75rem;  padding-top: 4.5rem;
}

.withNavbar .navbar {
  background-color: hsla(0,0%,100%,.87);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  padding: 0.3rem 1rem;
}

.withSink {
  background-color: #ebedef;
}

.presentation a,
.presentation a:hover {
  color: black;
  text-decoration: none;
}

.storyBanner {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  min-width: 1000px;
}

.storyInfo {
  flex-grow:1;
  color: #292b2c;
}

.storyIcon img {
  border-radius: 50%;
  height: 100px;
  margin: 0 20px 0 10px;
  object-fit: cover;
  width: 100px;
}

.storyInfo .storyLabel {
  font-weight: bold;
  font-size: 110%;
}

.storyDescription {
  color: #292b2c;
}
