h1, h2, h3, h4, h5 { text-transform: none !important;}
figure { float: left; height: 150px; margin: 55px !important; width: 150px; }
figure figcaption { font-size: 20px !important; }
html.img-right { position: relative; margin: 0% 20% 0% 20%; max-height: 900px; max-width: 900px; }

.MJXc-display {
  display: inline !important;
}

.code {
  border: 2px solid black !important;
  font-family: monospace !important;
  font-size: 120% !important;
  text-align: left !important;
}
