/*
h2 {
  font-size: 28pt;
  margin-bottom: 20px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

*/

.jumbotron {
  margin: 75px 0;
  text-align: center;
}

.jumbotron .wide-container {
  background-color: #eee;
  padding: 1px 0 20px 0;
}

.jumbotron h1 {
  font-size: 36pt;
}

.jumbotron h2 {
  font-size: 28pt;
}

.jumbotron p {
  font-size: 16pt;
  margin: 10px 10%;
}

.jumbotron ul {
  font-size: 16pt;
  list-style-type: square;
  text-align: center;
}

.jumbotron ul.halfway {
  margin: 25% 0 10% 0;
}

table.cake {
  border-collapse: collapse;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

table tbody tr td {
  border-color: white;
}

table, tbody, tr, td, a {
  height: 100%;
}

.twitter-tweet {
  box-shadow: 10px 10px 5px #888888;
}

.blue {background-color: #3498db;}
.gray {background-color: #95a5a6;}
.green {background-color: #1abc9c;}
.lightblue {background-color: #99ccff;}
.orange {background-color: #f39c12;}
.purple {background-color: #cd88af;}
.yellow {background-color: #f1c40f;}

table td {
  text-align: center;
  test-style: normal;
}

table a {
  color: black;
  padding: 8px;
}

table a:hover, table a:focus {
  border: 2px solid black;
  padding: 6px;
  color: black;
  text-decoration: none;
}

table h3 {
  color: black;
  margin: 8px;
}

table h3::after {
  border-color: black;
}

table th {
  color: #666;
}

.vertical-text {
  transform: rotate(-90deg);
}
