a { color: #333; }

table {
  border-collapse: collapse;
  border-style: solid;
}

table caption {
  caption-side: bottom;
}

.blue-light {background-color: #3498db;}
.blue-dark {background-color: #2980b9;}
.gray {background-color: #95a5a6;}
.green-light {background-color: #1abc9c;}
.green-dark {background-color: #16a085;}
.orange {background-color: #e67e22;}
.yellow-light {background-color: #f1c40f;}
.yellow-dark {background-color: #f39c12;}

table td {
  border: 10px solid #E7EFE0;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 22px;
}

table th {
  color: #666;
}
